<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-11-04T22:34:08Z</date>
	<key>WorkspacePath</key>
	<string>/Users/jmandwee/Desktop/Database_Firebase/wardrobe/wardrobe.xcworkspace</string>
</dict>
</plist>
