<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206155159263-7titdhbirb8cgmgjndbjcq98dlphqmsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206155159263-7titdhbirb8cgmgjndbjcq98dlphqmsf</string>
	<key>API_KEY</key>
	<string>AIzaSyBR6JJCT6jwABgb6EOyS2kXo0HybXHEpw4</string>
	<key>GCM_SENDER_ID</key>
	<string>206155159263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>App-Makers.wardrobe</string>
	<key>PROJECT_ID</key>
	<string>wardrobe-database</string>
	<key>STORAGE_BUCKET</key>
	<string>wardrobe-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206155159263:ios:d274a5f2dd32c364ef3b6a</string>
	<key>DATABASE_URL</key>
	<string>https://wardrobe-database.firebaseio.com</string>
</dict>
</plist>